@import url(http://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(http://i.imgur.com/0t6yZfQ.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}
body {
    height: 100%;
}
